<div class="container">
  <h1>Invoice</h1>

  <ul class="list-group">
    <li class="list-group-item">Subtotal: <%= number_to_currency(@invoice.price, unit: '$') %></li>
    <li class="list-group-item">Sales Tax: <%= number_to_currency(@invoice.sales_tax, unit: '$') %></li>
    <li class="list-group-item">Service Fee: <%= number_to_currency(@invoice.service_fee, unit: '$') %></li>
    <li class="list-group-item">Total: <%= number_to_currency(@invoice.total, unit: '$') %></li>
  </ul>

</div>